<%= form_for(@salesmei) do |f| %>
  <% if @salesmei.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salesmei.errors.count, "error") %> prohibited this salesmei from being saved:</h2>

      <ul>
      <% @salesmei.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :billno %><br />
    <%= f.text_field :billno %>
  </div>
  <div class="field">
    <%= f.label :saleshead %><br />
    <%= f.text_field :saleshead %>
  </div>
  <div class="field">
    <%= f.label :itemcode %><br />
    <%= f.text_field :itemcode %>
  </div>
  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :itemprice %><br />
    <%= f.number_field :itemprice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
