<h1>Listing uuid_userids</h1>

<table>
  <tr>
    <th>Uuid</th>
    <th>Userid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @uuid_userids.each do |uuid_userid| %>
  <tr>
    <td><%= uuid_userid.uuid %></td>
    <td><%= uuid_userid.userid %></td>
    <td><%= link_to 'Show', uuid_userid %></td>
    <td><%= link_to 'Edit', edit_uuid_userid_path(uuid_userid) %></td>
    <td><%= link_to 'Destroy', uuid_userid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Uuid userid', new_uuid_userid_path %>
