<script type="text/javascript">
$(function(){
　$( ".datepicker" ).datepicker({dateFormat: 'yymmdd'});
});
</script>
<ul>
<%= form_tag({ :controller => 'abcs', :action => 'show/id1/id2', :method => :post} ,{ :remote => true }) do %>
期間指定<br>From:<%= text_field_tag "date1" ,params[:date1], :class => 'datepicker' %>
To:<%= text_field_tag "date2" ,params[:date2], :class => 'datepicker' %>
<%= submit_tag "集計" %></p>
<% end %>
<div id="result">
<table border="1">
  <tr>
  <% if @sort == "code" %>
    <th id = "abc">
  <% else %>
   <th>
  <% end %>
    <u><%= link_to 'Code', { :controller => 'menu' ,:action => 'indexabc' ,:id => '99999999',:sort => 'code' } ,{ :remote => true }  %></u>
      <% if @sort == "code" %>
       <i class="icon-arrow-<%= @direction=='desc' ? 'down' : 'up'%>"></i>
      <% end %>
    </abc></th>
    <th>名称</th>
    <% if @sort == "value" %>
      <th id = "abc">
    <% else %>
      <th>
    <% end %>
    <u><%= link_to '販売数', { :controller => 'menu' ,:action => 'indexabc' ,:id => '99999999',:sort => 'value' } ,{ :remote => true }  %></u>
      <% if @sort == "value" %>
       <i class="icon-arrow-<%= @direction=='desc' ? 'down' : 'up'%>"></i>
      <% end %>
    </th>
    <% if @sort == "zaiko" %>
      <th id = "abc">
    <% else %>
      <th>
    <% end %>
    <u><%= link_to '在庫', { :controller => 'menu' ,:action => 'indexabc' ,:id => '99999999',:sort => 'zaiko' } ,{ :remote => true }  %></u>
      <% if @sort == "zaiko" %>
       <i class="icon-arrow-<%= @direction=='desc' ? 'down' : 'up'%>"></i>
      <% end %>
    </th>
    </th>
    <% if @sort == "price" %>
      <th id = "abc">
    <% else %>
      <th>
    <% end %>
    <u><%= link_to '上代', { :controller => 'menu' ,:action => 'indexabc' ,:id => '99999999',:sort => 'price' } ,{ :remote => true }  %></u>
      <% if @sort == "price" %>
       <i class="icon-arrow-<%= @direction=='desc' ? 'down' : 'up'%>"></i>
      <% end %>
    </th>
    <th>標準原価</th>
  </tr>

<% @abcs.each do |abc| %>
  <tr>
    <td><%= abc.code %></td>
    <td><%= abc.name %></td>
    <td><%= abc.value %></td>
    <td><%= abc.zaiko %></td>
    <td><%= abc.price %></td>
    <td><%= abc.cost %></td>
  </tr>
<% end %>
</table>
</div>
</ul>