<%= form_for(@zaiko) do |f| %>
  <% if @zaiko.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zaiko.errors.count, "error") %> prohibited this zaiko from being saved:</h2>

      <ul>
      <% @zaiko.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
