<h1>在庫一覧</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Price</th>
    <th>Sho1bun</th>
    <th>Kban</th>
    <th>Zaiko</th>
    <th></th>
    <th></th>
  </tr>
<% @Zaiko.each do |zaiko| %>
<% unless zaiko.item.nil? %>
  <tr>
    <td><%= zaiko.item.name %></td>
    <td><%= zaiko.item.code %></td>
    <td><%= zaiko.item.price %></td>
    <td><%= zaiko.item.sho1bun %></td>
    <td><%= zaiko.item.kban %></td>
 <% end %>
    <td><%= zaiko.value %></td>
    <td><%= link_to 'Edit', edit_zaiko_path(zaiko) %></td>
    <td><%= link_to 'Destroy', zaiko, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zaiko', new_zaiko_path %>
</br>
<%= link_to "ログアウト", destroy_user_session_path, :method => 'delete' %>
