<h1>Listing salesheads</h1>

<table border="1">
  <tr>
    <th>Billno</th>
    <th>Price</th>
    <th>Date</th>
    <th>Custno</th>
    <th>Tokui</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @salesheads.each do |saleshead| %>
  <tr>
    <td><%= saleshead.billno %></td>
    <td align="right"><%= saleshead.price %>円</td>
    <td><%= saleshead.date %></td>
    <td><%= saleshead.custno %></td>
    <td><%= saleshead.tokui_id %></td>
    <td><%= link_to 'Show', saleshead %></td>
    <td><%= link_to 'Edit', edit_saleshead_path(saleshead) %></td>
    <td><%= link_to 'Destroy', saleshead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Saleshead', new_saleshead_path %>
