<h1>Listing zaiko_logs</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @zaiko_logs.each do |zaiko_log| %>
  <tr>
    <td><%= zaiko_log.code %></td>
    <td><%= zaiko_log.value %></td>
    <td><%= link_to 'Show', zaiko_log %></td>
    <td><%= link_to 'Edit', edit_zaiko_log_path(zaiko_log) %></td>
    <td><%= link_to 'Destroy', zaiko_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Zaiko log', new_zaiko_log_path %>
