<p id="notice"><%= notice %></p>

<p>
  <b>Sheet:</b>
  <%= @order.sheet %>
</p>

<p>
  <b>Code:</b>
  <%= @order.code %>
</p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
