<% if $date != '99999999' %>
<h1>abc分析表 <%= $date %></h1>
<% else %>
<h1>abc分析表 全集計</h1>
<% end %>

<table border="1">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abcs.each do |abc| %>
  <tr>
    <td><%= abc.code %></td>
    <td><%= abc.name %></td>
    <td><%= abc.value %></td>
    <td><%= link_to 'Show', abc %></td>
    <td><%= link_to 'Edit', edit_abc_path(abc) %></td>
    <td><%= link_to 'Destroy', abc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Abc', new_abc_path %>
