<% if $date != '99999999' %>
<h1>abc分析表 <%= $date %></h1>
<% else %>
<h1>abc分析表 全集計</h1>
<% end %>

<%= form_tag({ :action => 'show/id1/id2', :method => :post} ,{ :remote => true }) do %>
期間指定<br>From:<%= text_field_tag "date1" ,params[:date1], :class => 'datepicker' %>
To:<%= text_field_tag "date2" ,params[:date2], :class => 'datepicker' %>
<%= submit_tag "集計" %></p>
<% end %>
<div id="result">
  <table border="1">
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @abcs.each do |abc| %>
  <tr>
    <td><%= abc.code %></td>
    <td><%= abc.name %></td>
    <td><%= abc.value %></td>
    <td><%= link_to 'Show', abc %></td>
    <td><%= link_to 'Edit', edit_abc_path(abc) %></td>
    <td><%= link_to 'Destroy', abc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
	
</div>