<h1>Listing salesmeis</h1>

<table border="1">
  <tr>
    <th>Billno</th>
    <th>Itemcode</th>
    <th>Itemname</th>
    <th>Value</th>
    <th>Itemprice</th>
    <th></th>
    <th></th>
  </tr>

<% @Salesmei.each do |salesmei| %>
  <tr>
    <td><%= salesmei.billno %></td>
    <td><%= salesmei.itemcode %></td>
    <td><%= salesmei.itemname %></td>
    <td><%= salesmei.value %></td>
     <td align="right"><%= salesmei.itemprice %>円</td>
 <!--   <td><%= link_to 'Show', salesmei %></td> -->
    <td><%= link_to 'Edit', edit_salesmei_path(salesmei) %></td>
    <td><%= link_to 'Destroy', salesmei, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Salesmei', new_salesmei_path %>
