<h1>Listing salesmeis</h1>

<table border="1">
  <tr>
    <th>Billno</th>
    <th>Itemcode</th>
    <th>Itemname</th>
    <th>Value</th>
    <th>Itemprice</th>
    <th>Flg</th>
    <th>Zaiko</th>
  </tr>
<% price = 0%>
<% value = 0 %>
<% @Salesmei.each do |salesmei| %>
  <tr>
    <td><%= salesmei.billno %></td>
    <td><%= salesmei.itemcode %></td>
    <td><%= salesmei.itemname %></td>
    <td><%= salesmei.salesmeisvalue %></td>
    <% value = salesmei.salesmeisvalue.to_i + value.to_i %>
    <td align="right"><%= salesmei.itemprice %>円</td>
    <% price = (salesmei.itemprice.to_i * salesmei.salesmeisvalue.to_i) + price.to_i  %>
    <td><%= salesmei.flg %></td>
    <td><%= salesmei.zaikosvalue %></td>

  </tr>
<% end %>
<td>合計</td>
<td></td>
<td></td>
<td><%= value %></td>
<td align="right"><%= price %>円</td>
</table>

<br />

<%= link_to '売上伝票一覧', salesheads_path %>
