<h1>Listing salesmeis</h1>

<table border="1">
  <tr>
    <th>Billno</th>
    <th>Itemcode</th>
    <th>Itemname</th>
    <th>Value</th>
    <th>Itemprice</th>
    <th>Zaiko</th>
    <th>Flg</th>
    <th></th>
    <th></th>
  </tr>
<% price = 0%>
<% value = 0 %>
<% @Salesmei.each do |salesmei| %>
  <tr>
    <td><%= salesmei.billno %></td>
    <td><%= salesmei.itemcode %></td>
    <td><%= salesmei.itemname %></td>
    <td><%= salesmei.value %></td>
    <% value = salesmei.value + value %>
    <td align="right"><%= salesmei.itemprice %>円</td>
    <% price = (salesmei.itemprice * salesmei.value) + price  %>
    <% @zaiko = current_user.zaikos.find(:first,:conditions => {:code => salesmei.itemcode}) %>
    <% unless @zaiko.nil? %>
    <td><%= @zaiko.value %></td>
    <% else %>
    <td>0</td>
    <% end %>
    <td><%= salesmei.flg %></td>
<!--    <td><%= link_to 'Show', salesmei %></td> -->
    <td><%= link_to 'Edit', edit_salesmei_path(salesmei) %></td>
    <td><%= link_to 'Destroy', salesmei, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
<td>合計</td>
<td></td>
<td></td>
<td><%= value %></td>
<td align="right"><%= price %>円</td>
</table>

<br />

<%= link_to '売上伝票一覧', salesheads_path %>
