<h1>Listing tokuis</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Tokui1bun</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tokuis.each do |tokui| %>
  <tr>
    <td><%= tokui.code %></td>
    <td><%= tokui.name %></td>
    <td><%= tokui.tokui1bun %></td>
    <td><%= link_to 'Show', tokui %></td>
    <td><%= link_to 'Edit', edit_tokui_path(tokui) %></td>
    <td><%= link_to 'Destroy', tokui, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tokui', new_tokui_path %>
