<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @tokui.code %>
</p>

<p>
  <b>Name:</b>
  <%= @tokui.name %>
</p>

<p>
  <b>Tokui1bun:</b>
  <%= @tokui.tokui1bun %>
</p>


<%= link_to 'Edit', edit_tokui_path(@tokui) %> |
<%= link_to 'Back', tokuis_path %>
