<%= form_for(@saleshead) do |f| %>
  <% if @saleshead.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@saleshead.errors.count, "error") %> prohibited this saleshead from being saved:</h2>

      <ul>
      <% @saleshead.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :billno %><br />
    <%= f.text_field :billno %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :custno %><br />
    <%= f.text_field :custno %>
  </div>
  <div class="field">
    <%= f.label :tokui_id %><br />
    <%= f.number_field :tokui_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
