<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :price2 %><br />
    <%= f.number_field :price2 %>
  </div>
  <div class="field">
    <%= f.label :price3 %><br />
    <%= f.number_field :price3 %>
  </div>
  <div class="field">
    <%= f.label :price4 %><br />
    <%= f.number_field :price4 %>
  </div>
  <div class="field">
    <%= f.label :sho1bun %><br />
    <%= f.text_field :sho1bun %>
  </div>
  <div class="field">
    <%= f.label :kban %><br />
    <%= f.text_field :kban %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
