<h1>商品一覧</h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Price</th>
    <th>Price2</th>
    <th>Price3</th>
    <th>Price4</th>
    <th>Sho1bun</th>
    <th>Kban</th>
    <th>User</th>
    <th></th>
  </tr>
<% i=0 %>
<% @items.each do |item| %>
  <tr>
    <td><%= link_to item.name, edit_item_path(item) %></td>
    <td><%= item.code %></td>
    <td><%= item.price %></td>
    <td><%= item.price2 %></td>
    <td><%= item.price3 %></td>
    <td><%= item.price4 %></td>
    <td><%= item.sho1bun %></td>
    <td><%= item.kban %></td>
    <td><%= item.user_id %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% i=i+1 %>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
</br>
<%= link_to "ログアウト", destroy_user_session_path, :method => 'delete' %>
