<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Code:</b>
  <%= @item.code %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Price2:</b>
  <%= @item.price2 %>
</p>

<p>
  <b>Price3:</b>
  <%= @item.price3 %>
</p>

<p>
  <b>Price4:</b>
  <%= @item.price4 %>
</p>

<p>
  <b>Sho1bun:</b>
  <%= @item.sho1bun %>
</p>

<p>
  <b>Kban:</b>
  <%= @item.kban %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
