<%= form_for(@sho1bun) do |f| %>
  <% if @sho1bun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sho1bun.errors.count, "error") %> prohibited this sho1bun from being saved:</h2>

      <ul>
      <% @sho1bun.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
