<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @sho1bun.code %>
</p>

<p>
  <b>Name:</b>
  <%= @sho1bun.name %>
</p>


<%= link_to 'Edit', edit_sho1bun_path(@sho1bun) %> |
<%= link_to 'Back', sho1buns_path %>
