<ul>
<h1>金種リスト</h1>
<%= link_to 'New Current', new_current_path, :class=>'btn btn-primary' %>
<br></br>
<table border="1">
  <tr>
    <th>Currency</th>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @currents.each do |current| %>
  <tr>
    <td><%= current.currency %></td>
    <td><%= current.code %></td>
    <td><%= current.name %></td>
    <td><%= link_to 'Edit', edit_current_path(current) %></td>
    <td><%= link_to 'Destroy', current, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</ul>