<p id="notice"><%= notice %></p>

<p>
  <b>Currency:</b>
  <%= @current.currency %>
</p>

<p>
  <b>Code:</b>
  <%= @current.code %>
</p>

<p>
  <b>Name:</b>
  <%= @current.name %>
</p>


<%= link_to 'Edit', edit_current_path(@current) %> |
<%= link_to 'Back', currents_path %>
